## Dice game Qwantum 

`Qwantum` is a dice game with one white and six colored dice. The objective is to enter for each of the four colors six numbers where the first four numbers increase and the last two numbers decrease.

The trick is that **number** associated with a color is the sum of all dice showing that color plus the white die.

Roughly speaking numbers between 2 (a single one plus a white one) and 33 are possible, however, rolling more than 15 is rather improbable. Let's find out just how improbable by simulating the distribution of numbers.

In [34]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
matplotlib.use('Qt5Agg')
%matplotlib qt5

In [13]:
# a random integer
for i in range(20):
    print(np.random.randint(0,6), end=' ')
print()

5 0 3 0 4 3 2 2 2 4 4 3 5 3 2 0 2 1 2 0

In [23]:
purple = np.array([
[6,2,0,0,0,0],
[6,0,0,0,0,0],    
[3,1,0,0,0,0],
[3,0,0,0,0,0],
[4,0,0,0,0,0],
[5,2,0,0,0,0],
])
yellow = np.array([
[0,0,1,5,0,0],
[0,5,0,0,0,0],    
[0,0,6,0,0,0],
[0,4,2,0,0,0],
[0,3,1,0,0,0],
[0,0,4,0,0,0],
])
red = np.array([
[0,0,0,0,6,0],
[0,0,1,4,0,0],    
[0,0,0,5,0,0],
[0,0,0,3,1,0],
[0,0,0,6,3,0],
[0,0,0,3,0,0],
])
blue = np.array([
[0,0,0,0,0,3],
[0,0,0,0,1,5],    
[0,0,0,0,2,4],
[0,0,0,0,0,4],
[0,0,0,0,0,5],
[0,0,0,0,2,6],
])

In [32]:
def throw():
    p, r, y, b = 0, 0, 0, 0
    for i in range(6):
        d = np.random.randint(0,6)
        p += purple[i,d]
        r += red[i,d]
        y += yellow[i,d]
        b += blue[i,d]
    return p, r, y, b

In [37]:
n = 100000
results = np.zeros((n,4), int)
for i in range(n):
    results[i,:] = throw()
#results

In [38]:
dic = {'purple':results[:,0], 'red':results[:,1], 'yellow':results[:,2], 'blue':results[:,3]}
df = pd.DataFrame(dic)
df

       purple  red  yellow  blue
0           0    9      11     5
1           3    6       4     4
2          12    6       1     6
3           9    0      16     0
4           6    3       6     9
...       ...  ...     ...   ...
99995       9    9       0     7
99996       0    7      20     0
99997       2   11       5     6
99998       3    9       5     7
99999       7    8       5     5

[100000 rows x 4 columns]

In [42]:
counts_unsorted = df.purple.value_counts()
p_counts = counts_unsorted.sort_index()
p_counts

0     17258
1      4329
2      8594
3      9658
4      5291
5      9474
6     11833
7      5251
8      5925
9      6081
10     3170
11     4086
12     2960
13     1492
14     1536
15     1232
16      523
17      548
18      374
19      102
20      138
21       90
22       20
23       15
24       18
25        1
27        1
Name: purple, dtype: int64

In [43]:
p_counts.plot.bar()